
img{
    width: 100%;    
}
nav{
    background-color: deepskyblue;
    color: white ;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid red;
    margin-bottom: 50px;
    z-index: 1;
    .container{
        max-width: 1800px;
    }
    a{
        color: white;
        font-size: 20px;
    }
    i{
      font-size: 30px;
    }
    button{
        background-color: transparent;
        border: none;
        border-radius: 10px;
    }
    .nav-link:hover {
       padding: 10px 10px;
       background-color: rgba(240, 248, 255, 0.123);
       color: darkblue;
       border-radius: 5px;
 
    }
    .nav-link{
        padding: 10px 10px;
    }
}


.product-list{
.container{
    margin-top: 100px;
    max-width: 1500px;
    .product_item{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
    width: 23%;
    border-radius: 20px;  
    cursor: pointer; 
    overflow: hidden;    
    word-wrap: break-word;
}
    .product_item:hover {
    transform: scale(105%); 
    }  
}
.carosel{
    img{
        width: 100%;
    }
}
}

// 
.off-canvas-panel {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;
    
    opacity: 0;
    
    transform: translateX(-100%);
    transition: transform .2s ease-out, opacity .5s ease-out;
    background-color: #fff;
    box-shadow: 0 0 50px 20px rgba(0,0,0,0.1);
    
    @media (min-width: 480px) {
      width: 300px;
      transform: translateX(-300px);
    }
    
    &.is-visible {
      opacity: 1;
      transform: translateX(0);
    }
    
    .btn-lg {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
    .heading {
      position: relative;
      padding: 15px 0;
      z-index: 3;
      background-color: #fff;
    }
    p.h3 {
      margin: 0 15px;
    }
  }
  .modal{
    width: 0;
  }
  
 
  
//   @media (min-width: 576px){
//   .modal-dialog {
//       max-width: 500px;
//       margin:0;
//   }}
//   .modal-content{
//     width: 90%;
//   }