img {
  width: 100%;
}

nav {
  background-color: rgba(0, 191, 255, 0.592);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
    margin-bottom: 50px;
  z-index: 1;
}
nav .container {
  max-width: 1800px;
}
nav a {
  color: white;
  font-size: 20px;
}
nav i {
  font-size: 30px;
}
nav button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
nav .nav-link:hover {
  padding: 10px 10px;
  background-color: rgba(240, 248, 255, 0.123);
  color: darkblue;
  border-radius: 5px;
}
nav .nav-link {
  padding: 10px 10px;
}

.product-list .container {
  margin-top: 100px;
  max-width: 1500px;
}
.product-list .container .product_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
  width: 23%;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
}
.product-list .container .product_item:hover {
  transform: scale(105%);
}
.product-list .carosel img {
  width: 100%;
}

.off-canvas-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out, opacity 0.5s ease-out;
  background-color: #fff;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 480px) {
  .off-canvas-panel {
    width: 300px;
    transform: translateX(-300px);
  }
}
.off-canvas-panel.is-visible {
  opacity: 1;
  transform: translateX(0);
}
.off-canvas-panel .btn-lg {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.off-canvas-panel .heading {
  position: relative;
  padding: 15px 0;
  z-index: 3;
  background-color: #fff;
}
.off-canvas-panel p.h3 {
  margin: 0 15px;
}/*# sourceMappingURL=index.css.map */