#spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.396);
  top: 0;
  left: 0;
  color: skyblue;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#product_search {
  width: 95%;
}

.seek {
  border: 1px solid black;
  width: 3%;
  padding: 8px;
}

.search_item .container {
  margin-top: 100px;
  max-width: 1400px;
  margin: 0 auto;
}
.search_item .container .product_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
  font-size: 14px;
  width: 23%;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
}
.search_item .container .product_item:hover {
  transform: scale(105%);
}
.search_item .carosel img {
  width: 10%;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.sp-thongbao {
  color: red;
}/*# sourceMappingURL=index.css.map */